/******* general *************/
*, ::before, ::after {
    box-sizing: border-box;
    padding : 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Abril Fatface', sans-serif;
    background: white;
}

/******* Navigation **********/
.navbar-brand img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #292929,
                -2px -2px 2px #3d3d3d;
}

.navbar a{
    font-size: 25px;
}

/********* header **********/
.header {
    background-image: url('../img/fond2.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 110px;
}

.txt-animation {
    font-size: 40px;
}

/* lien github et linkedin */
.media {
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.media:hover{
    transform: scale(1.02);
}
.media2 {
    background: transparent;
    border: 2px solid #333;
}
.icone-medias {
    width: 50px;
}

.btn-rond {
    width: 70px;
    height: 70px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}

@keyframes pulse{
    to{
        box-shadow: 0 0 0 10px rgba(255,255,255,0.01);
    }
}

.btn-logo {
    width : 35px;

}

.separation {
    width: 50%;
    height: 2px;
    background: #FADBD8;
}

.fond{
    clip-path: polygon(92% 0, 97% 43%, 100% 89%, 5% 95%, 3% 78%, 0 0);
    background: #F57F73 ;
}

/******** presentation **********/

@media screen and (max-width: 1300px){
    .navbar a{
        font-size: 20px;
    }
}

@media screen and (max-width: 1190px){
    h1{ 
        font-size: 100px;
    }

    .txt-animation {
        font-size: 40px;
    }

}

@media screen and (max-width: 1090px){
    .navbar a{
        font-size: 15px;
    }

    .fond {
        clip-path: polygon(100% 0, 100% 43%, 100% 100%, 0 100%, 0 78%, 0 0);
        background: #F57F73 ;
    }
}

@media screen and (max-width: 992px){
    h1{ 
        font-size: 100px;
    }

    .txt-animation {
        font-size: 40px;
    }

    .btn-rond {
        width: 60px;
        height: 60px;
        
    }
    
    .btn-logo {
        width : 30px;
    
    }
}

@media screen and (max-width: 768px){
    .navbar-brand p {
        font-size: 20px;
    }

    h1{
        font-size: 90px;
    }

    .txt-animation {
        font-size: 30px;
    }

    .btn-rond {
        width: 50px;
        height: 50px;
        
    }
    
    .btn-logo {
        width : 25px;
    
    }
}


@media screen and (max-width: 575.98px){
    .navbar-brand img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px #292929,
                    -2px -2px 2px #3d3d3d;
    }

    .navbar-brand p {
        font-size: 20px;
    }

    h1{
        font-size: 70px;
    }

    .txt-animation {
        font-size: 20px;
    }

}

@media screen and (max-width: 450px) {

    .navbar-brand p {
        font-size: 18px;
    }

    .navbar a{
        font-size: 20px;
    }

    h1{
        font-size: 50px;
    }

    .txt-animation {
        font-size: 20px;
    }

    .media {
        width: 40px;
        height: 40px;
    }

    .icone-medias {
        width: 25px;
    }

    .btn-rond {
        width: 35px;
        height: 35px;
        
    }
    
    .btn-logo {
        width : 18px;
    
    }
}

@media screen and (max-width: 370px) {

    .navbar-brand p {
        font-size: 14px!important;
    }

    .navbar a{
        font-size: 15px;
    }

    h1{
        font-size: 30px;
    }
    
    .txt-animation {
        font-size: 13px!important;
    }

}